body {
  background: #699096;
}

* {
  font-family: Helvetica, Arial;
  color: #333;
}

span.highlight {
  color: #39cbcb;
}

input {
  height: 33px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}

#logo{
  width:600px;
}

.winner{ 
  color: #0000FF
}

.loser{ 
  color: #FF0000 
}

.nowhere {
  h1 {
    position: relative;
    z-index: 1;
  }
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
